extends layout
block content
    main
        h1 사원 리스트 (Raed)
        table
            thead
                tr
                    th 사번
                    th 이름
                    th 급여
                    th 입사일
                    th 부서
                    th 상세
            tbody
                -for(const emp of empList)
                    tr
                        td=emp.EMPNO
                        td=emp.ENAME
                        th=emp.SAL
                        th=emp.HIREDATE && emp.HIREDATE.toLocaleDateString("ko-KR")
                        th=emp.DEPTNO
                        th
                            a(href=`/emp/detail.do?empno=${emp.EMPNO}`) 상세

