extends layout
block content
    main
        h1 사원 수정 폼 (Read)
        form(name="empUpdateForm",action="/emp/update.do",method="POST")
            p
                span 사번 :
                strong=emp.EMPNO
                input(value=emp.EMPNO,name="empno",type="hidden")
                //type="hidden" 보이지 않지만 넘어가는 파라미터
            p
                span 이름 :
                input(value=emp.ENAME,name="ename")
            p
                span 직책 :
                input(value=emp.JOB,name="job")
            p
                span 급여 :
                input(value=emp.SAL,name="sal")
            p
                span 상여급 :
                input(value=emp.COMM,name="comm")
                -let nowStr="";
                -if(emp.HIREDATE)
                    -let y=emp.HIREDATE.getUTCFullYear();
                    -let m=emp.HIREDATE.getUTCMonth()+1;
                    -m=(m<10)?`0${m}`:m;
                    -let d=emp.HIREDATE.getUTCDate();
                    -d=(d<10)?`0${d}`:d;
                    -nowStr=`${y}-${m}-${d}`;
            p
                span 입사일 :
                input(value=nowStr ,name="hiredate", type="date")
            p
                span 상사 :
                input(value=emp.MGR,name="mgr")
            p
                span 부서 :
                input(value=emp.DEPTNO,name="deptno")
            p
                a(href=`/emp/delete.do?empno=${emp.EMPNO}`) 삭제 &nbsp;
                button(type="submit") 수정제출
